MyGame/vsbuild/MyGame.VC.db
MyGame/vsbuild/x64/Debug/vc140.idb
*.tlog
MyGame/vsbuild/x64/
MyGame/.vs/MyGame/v14/.suo
MyGame/bin/MyGame.exe
MyGame/vsbuild/MyGame.vcxproj.user
MyGame/vsbuild/.vs/MyGame/v14/.suo
MyGame/vsbuild/MyGame.VC.VC.opendb
MyGame/src/Effect.cpp~RF5c83451d.TMP
MyGame/src/main.cpp~RF5c5f4328.TMP
